.page {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../static/images/background.png');
    background-size: contain;
}

.container_wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(63, 61, 61);
    padding: 2% 2%;
    color: rgb(199, 191, 191);
    border: 1px solid black;
    border-radius: 3%;
    row-gap: 7px;
}

.red_star {
    color: red;
}

.titleForm {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.textForm {
    font-size: 0.6em;
    font-weight: 700;
}

.link {
    font-size: 0.8em;
    color: rgb(115, 115, 185);
}

.link:hover {
    color: rgb(108, 186, 206);
    text-decoration: none;
}

.button {
    width: 26vw;
    height: 5vh;
    border: 1px solid rgba(94, 81, 216, 0.726);
    color: rgb(226, 218, 218);
    background-color: rgba(85, 66, 255, 0.534);
    border-radius: 2px;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(28, 126, 150, 0.849);
}

.inputsCheck {
    font-size: 0.5em;
}

.textWelcome {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}


.registrationQuestion {
    font-size: 0.8em;
}